body {
    background: #242323;
    color: #fcd116;
    font-size: 14px;
}

h1 {
    font-size: 300%;
}

canvas {
    position: absolute;
}

#stage {
    position: relative;
    margin: 0 auto;
}

#board {
    z-index: 1;
    background: white;
}

#movement {
    z-index: 2;
    background: transparent;
}
